body {
        background-color: tan;
        margin-left: 20%;
        margin-right: 20%;
        border: 1px dotted gray;
        padding: 10px 10px 10px 10px;
        font-family: sans-serif;
}

section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Garante que ela ocupe toda a largura */
}
