* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

/* Garante que o HTML e o Body ocupem toda a tela */
html, body {
        height: 100%;
        width: 100%;
}

body {
        background-color: tan;
        font-family: sans-serif;        
        border: 1px solid #a0a0a0;
        padding: 20px;
}

